{% extends "base_service.html" %}

{% set service_name = "invoices" %}
{% set page_name = "invoice" %}
{% set page_name_cap = "Invoice" %}
{% set page = 0 %}
{% set total_pages = 0 %}
{% set page = 0 %}

{% block title_sub %}Invoices{% endblock %}

{% block admin_dashboard %}{% endblock %}

{% block add_button %}{% endblock %}

{% block page_heading %}Invoices{% endblock %}


{% block search_text %}
<div class="d-flex justify-content-center align-items-center mb-3">
    <h1 class="text-center text-muted">Under Construction</h1>
</div>
{% endblock %}


{% block item_per_page %}{% endblock %}

{% block restore %}{% endblock %}

{% block table %}{% endblock %}

{% block add_modal %}{% endblock %}

{% block edit_modal %}{% endblock %}

{% block pagination %}{% endblock %}