{% extends "base_service.html" %}

{% set service_name = "locations" %}
{% set page_name = "location" %}
{% set page_name_cap = "Location" %}

{% block title_sub %}Locations{% endblock %}

{% block document_dashboard %}{% endblock %}

{% block admin_dashboard %}{% endblock %}

{% block page_heading %}Locations{% endblock %}

<!-- Location Table -->
{% block table_header %}
            <th class="text-start align-top" onclick="sortTable('locationTableBody', 0)">Name<span class="sort-indicator"></span></th>
            <th class="text-start align-top" >Actions</th>
{% endblock %}

{% block table_body %}
        {% for location in locations %}
        <tr>
            <td class="text-start align-top" >{{ location.name }}</td>
            <td>
                <button class="btn btn-warning btn-sm" onclick="editLocation({{ location.id }})"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-danger btn-sm" onclick="deleteLocation({{ location.id }})"><i class="fa-solid fa-trash"></i></button>
                <button class="btn btn-danger btn-sm" onclick="archiveLocation({{ location.id }})"><i class="fa-solid fa-box-archive"></i></button>
            </td>
        </tr>
        {% endfor %}
{% endblock %}

<!-- Add Location Modal -->
{% block add_modal_body %}
        <div class="mb-3">
            <label for="addName" class="form-label">Location Name</label>
            <input type="text" class="form-control" id="addName" name="name" required>
        </div>
{% endblock %}

<!-- Edit Location Modal -->
{% block edit_modal_body %}
    <div class="mb-3">
        <label for="editName" class="form-label">Location Name</label>
        <input type="text" class="form-control" id="editName" name="name" required>
    </div>
{% endblock %}
