{% extends "base_service.html" %}

{% set service_name = "users" %}
{% set page_name = "user" %}
{% set page_name_cap = "User" %}

{% block title_sub %}Users{% endblock %}

{% block document_dashboard %}{% endblock %}

{% block page_heading %}Users{% endblock %}


{% block table_header %}
<th class="text-start align-top" onclick="sortTable('userTableBody', 0)">Employee ID<span class="sort-indicator"></span></th>
<th class="text-start align-top" onclick="sortTable('userTableBody', 1)">User Name<span class="sort-indicator"></span></th>
<th class="text-start align-top" onclick="sortTable('userTableBody', 2)">Email<span class="sort-indicator"></span></th>
<th class="text-start align-top" onclick="sortTable('userTableBody', 3)">Position<span class="sort-indicator"></span></th>
<th class="text-start align-top" onclick="sortTable('userTableBody', 4)">Department<span class="sort-indicator"></span></th>
<th class="text-start align-top" onclick="sortTable('userTableBody', 5)">Direct_manager<span class="sort-indicator"></span></th>
<th class="text-start align-top" onclick="sortTable('userTableBody', 6)">Role<span class="sort-indicator"></span></th>
<th class="text-start align-top">Actions</th>
{% endblock %}

{% block table_body %}
    {% for user in users %}
    <tr>
        <td class="text-start align-top">{{ user.employee_id }}</td>
        <td class="text-start align-top">{{ user.username }}</td>
        <td class="text-start align-top">{{ user.email }}</td>
        <td class="text-start align-top">{{ user.position }}</td>
        <td class="text-start align-top">{{ user.department.name if user.department else 'N/A' }}</td>
        <td class="text-start align-top">{{ user.direct_manager.username if user.direct_manager else 'N/A' }}</td>
        <td class="text-start align-top">{{ user.role }}</td>
        <td>
            <button class="btn btn-warning btn-sm" onclick="editUser({{ user.id }})"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn btn-danger btn-sm" onclick="deleteUser({{ user.id }})"><i class="fa-solid fa-trash"></i></button>
            <button class="btn btn-danger btn-sm" onclick="archiveUser({{ user.id }})"><i class="fa-solid fa-box-archive"></i></button>
        </td>
    </tr>
    {% endfor %}
{% endblock %}

<!-- Add User Modal -->
{% block add_modal_body %}
    <div class="row mb-3 g-3">
        <div class="col-md-4">
            <label for="addEmployeeId" class="form-label">Employee ID</label>
            <input type="number" class="form-control" id="addEmployeeId" name="employee_id" required>
        </div>
        <div class="col-md-8">
            <label for="addUsername" class="form-label">User Name</label>
            <input type="text" class="form-control" id="addUsername" name="username" required>
        </div>
    </div>
    <div class="row mb-3 g-3">
        <div class="col-md-8">
            <label for="addEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="addEmail" name="email" required>
        </div>
        <div class="col-md-4">
            <label for="addPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="addPassword" name="password" required>
        </div>
    </div>
    <div class="row mb-3 g-3">
        <div class="col-md-12">
            <label for="addPosition" class="form-label">Position</label>
            <input type="text" class="form-control" id="addPosition" name="position" required>
        </div>
        <div class="col-md-6">
            <label for="addDepartmentId" class="form-label">Department</label>
            <select class="form-select" id="addDepartmentId" name="department_id" >
                <option value=null>None</option>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="addDirectManagerId" class="form-label">Direct Manager</label>
            <select class="form-select" id="addDirectManagerId" name="direct_manager_id" >
                <option value=null>None</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="addRole" class="form-label">Role</label>
        <select class="form-control" id="addRole" name="role" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
    </div>
{% endblock %}

<!-- Edit User Modal -->
{% block edit_modal_body %}
    <div class="row mb-3 g-3">
        <div class="col-md-4">
            <label for="editEmployeeId" class="form-label">Employee ID</label>
            <input type="number" class="form-control" id="editEmployeeId" name="employee_id" required>
        </div>
        <div class="col-md-8">
            <label for="editUsername" class="form-label">User Name</label>
            <input type="text" class="form-control" id="editUsername" name="username" required>
        </div>
    </div>
    <div class="row mb-3 g-3">
        <div class="col-md-8">
            <label for="editEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="editEmail" name="email" required>
        </div>
    </div>
    <div class="row mb-3 g-3">
        <div class="col-md-12">
            <label for="editPosition" class="form-label">Position</label>
            <input type="text" class="form-control" id="editPosition" name="position" required>
        </div>
        <div class="col-md-6">
            <label for="editDepartmentId" class="form-label">Department</label>
            <select class="form-select" id="editDepartmentId" name="department_id" >
                <option value=null>None</option>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="editDirectManagerId" class="form-label">Direct Manager</label>
            <select class="form-select" id="editDirectManagerId" name="direct_manager_id" >
                <option value=null>None</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="editRole" class="form-label">Role</label>
        <select class="form-control" id="editRole" name="role" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
    </div>
{% endblock %}
